# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Secret files
.env
run2earn/.env
run2earn/android/app/google-services.json
run2earn/ios/Runner/GoogleService-Info.plist
run2earn/macos/Runner/GoogleService-Info.plist

# IDE settings
.idea/
.vscode/

# Build artifacts
run2earn/build/
